apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-secrets
type: Opaque
stringData:
  connectionString: {{ .Values.secrets.connectionString | quote }}
  jwtSecret: {{ .Values.secrets.jwtSecret | quote }}
  stripeSecretKey: {{ .Values.secrets.stripeSecretKey | quote }}
  stripeWebhookSecret: {{ .Values.secrets.stripeWebhookSecret | quote }}
